<!DOCTYPE html>
<html>

<head>
    <title>Drowsiness Detection System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/assets/demo.css">
</head>
</body>
    <br><br>
    <img src="{{ url_for('image_feed') }}">
{#    <a href="{{ url_for('board') }}">#}
{#        <span>Summary</span>#}
{#        <div class="liquid"></div>#}
{#    </a>#}

</body>

</html>