<!DOCTYPE html>
<html>
<head>
    <title>Drowsiness Detection System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/assets/index.css">
</head>
<body>
    <div class="pimg1">
        <div class="container1">
            <div class="title">DROWSINESS DETECTION <br>SYSTEM</div>
            <div class="center" style="padding: 50px;">
                <a href="{{ url_for('start') }}">
                    <span>Start</span>
                    <div class="liquid"></div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>